@use 'style/_variable' as *;

.page {
  position: relative;
}

.header {
  position: relative;
  display: grid;
  place-items: flex-end center;
  aspect-ratio: 1;
  padding: 1em;
}

.title {
  position: relative;
  z-index: 1;
  color: #191f38;
  text-align: center;
}

.figure {
  position: absolute;
  inset: 0;
  z-index:  0;
}

.body {
  padding: 2rem 1rem;
}

.paragraph {
  margin: 1rem auto 0;
}

.link {
  text-align: center;
}
