@use "style/_variable" as *;

.progressBoard {
  position: relative;
}

.list {
  width: 100vmin;
  height: 100vmin;
  padding: 1rem;
  background-color: lightgray;
}

.item {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  margin: auto;
  background-color: white;
  border-radius: 50%;
  transition: color 250ms ease-in-out, box-shadow 500ms ease-in-out;

  // イベントあり
  &.--event {
    box-shadow: inset 0 0 0 0.1rem lightseagreen;
  }

  // チェックイン済み
  &.--checkIn {
    color: white;
    box-shadow: inset 0 0 0 99rem lightseagreen;

  }

  // ゴールするまで、GOALは透過（それまでは同じ位置に重なっているSTARTが可視状態）
  &:last-child {
    opacity: 0;

    &:has(.player) {
      opacity: 1;
    }
  }
}


.player {
  position: absolute;
  inset:0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  background-color: white;
  border-radius: 50%;
  mix-blend-mode: difference;
}
